<h2>Marca <span>/ Nuevo</span></h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="buttons-container">
    <button type="submit">Guardar</button>
    <button (click)="resetForm()">Descartar</button>
  </div>
  <div class="form-container">
    <div>
      <label for="denom">Denominación</label>
      <label for="abr">Abreviatura</label>
    </div>
    <div>
      <input
        formControlName="denom"
        type="text"
        id="denom"
        name="denom"
        autocomplete="off"
        #denomInput
      />
      <input
        formControlName="abr"
        type="text"
        id="abr"
        name="abr"
        autocomplete="off"
      />
    </div>
  </div>
</form>
