h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary);
}
span {
  font-weight: 400;
  color: gray;
}
form {
  display: flex;
  flex-direction: column;
}
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
}
.buttons-container button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  transition: all ease-in-out 200ms;
}
.buttons-container button:first-child {
  margin-right: 1rem;
  background-color: var(--primary);
  color: var(--text);
  border: 1px solid var(--text);
}
.buttons-container button:last-child {
  color: var(--primary);
  background-color: var(--text);
  border: 1px solid var(--primary);
}
.buttons-container button:active {
  transform: scale(0.95);
}
.buttons-container button:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 12px 50px 0 rgba(0, 0, 0, 0.19);
}

.form-container {
  align-self: center;
  font-size: 1.1rem;
  width: 700px;
  height: 400px;
  padding: 2rem;
  border: 1px solid var(--primary);
  display: grid;
  grid-template-columns: 2fr 5fr;
  box-shadow: 0 12px 16px 0 rgba(85, 33, 22, 0.5),
    0 20px 60px 0 rgba(0, 0, 0, 0.19);
}
.form-container div {
  display: flex;
  flex-direction: column;
}

.form-container div:first-child {
  border-right: 2px solid var(--primary);
  height: 37%;
}

.form-container div:last-child {
  margin-left: 1rem;
}

.form-container div * {
  margin-top: 20px;
  padding: 0.2rem;
}

.form-container input {
  background-color: var(--text-lighter);
  border-radius: 3px;
  border: 2px solid gray;
}

.form-container input:focus-visible {
  border: 2px solid var(--primary);
  outline: none;
}
