header {
  display: flex;
  width: 100%;
  justify-content: unsafe;
  align-items: center;
  background-color: var(--primary);
  color: var(--text);
  height: 3rem;
}

img {
  margin: 0 1rem;
}

p {
  margin: 0 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 800;
}

ul {
  display: flex;
  width: 65%;
  margin-left: 1rem;
  justify-content: space-between;
  list-style: none;
}

li {
  font-size: 1.05rem;
  transition: all 0.3s ease;
}

li:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--text);
  transition: width 0.3s ease;
}

li:hover::after {
  width: 100%;
}
